/* Tiny reset thingy */
html body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100vh;
    background-image: url("icon/cubes.png");
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.parallax { 
    /* The image used */
    background-image: url("icon/banner.jpeg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.nav-1{
    position: fixed;
    top: 5%;
    width: 100%;
    /* background-color: rgba(0,0,0 ,.4 ); */
    color: white;
    line-height: 40px;
    z-index: 1;
  
}

.nav-1 ul{
    list-style: none;
    text-align: center;
}

.nav-1 ul li{
    display: inline;
    padding: 1% 5% 0 5%;
}

.nav-1 ul li a{
    text-decoration: none;
    color: white;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.scrolled{
    background: rgb(0, 0, 0);
    color: white;
    top: 0;
    font-weight: bold;
}

.parallax button{
    position: relative;
   top: 50%;
   left: 43%;
   border: 2px solid white;
   background: transparent;
   padding: 30px 80px 30px 80px;
   font-size: 30px;
   color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 10px;
   transform-style: preserve-3d;
   transition: all 1.0s linear;
}

.parallax button:hover{
    transform:rotateY(180deg);
    background: black;
    color: white;
}

.parallax button a{
    color: white;
    text-decoration: none;
}

.img-thumbnail{
    width: 100%;
    height: 250px;

}

.container h1{
    margin-top: 3%;
    margin-bottom: 2%;
}

h3{
    margin-top: 10%;
}

hr{
    width: 70%;
    border-color: black;
}

.slide-2{
    background-image: url("icon/redbmw.jpeg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.slide-2 .header{
    padding-top: 1%;
    margin-top: 4%;
    font-size: 40px;
}

.slide-2 ul{
    list-style: none;
    padding: 2% 15% 2% 20%;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-align: justify;
}

.slide-2 ul li{
    font-weight: bolder;
    line-height: 40px;
}

.slide-3{
   margin-left: 1.5%;
   margin-bottom: 2%;
}

.slide-3 h1{
    position: relative;
    top: 3%;
    color: rgb(170, 4, 4);
}

form{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 0;
    font-weight: bolder;
    
}

#submit-btn{
    float: right;
    background: rgb(170, 4, 4);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.line{
    position: relative;
    border-left: 1px solid black;
    height: 400px;
    left: 10%;
    top: 10%;
    width: 1px;
    margin: 0;
}
.goal{
    position: absolute;
    top: 20%;
    left: 20%;
    font-weight: bolder;
}
.about p{
    padding: 3% 5% 0 8%;
    text-align: justify;
}

footer{
    background-image: url(icon/footer_lodyas.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;

}


footer ul{
    list-style: none;
}

footer .copyright{
    padding: 3% 0 3% 0;
}

footer ul li{
    float: right;
    padding: 3% 3% 3% 3%;
    font-size: 20px;

}

footer ul li a{
   color: white;
}

/* Flip images */
.flip-container {
    perspective: 1000;
}

.flip-container:hover .card {
    transform: rotateY(180deg);
}

.card {
    width: 100%;
    height: 250px;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(180deg);
}

.back{
    background-image: url("https://images.unsplash.com/photo-1520932085980-239a0bef9c80?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0e24ec087f1b881d0e24cdbbe004dc4d&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    width: 100%;
    height: 250px;
    text-align: center;
    background-color: black;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.back div{
    margin-top: 10%;
}

.front {
    transform: rotateY(0deg);
}
